# Django Core Settings
SECRET_KEY=your-secret-key-here # Generate a secure random key for production
DEBUG=True # Set to False in production
CSRF_COOKIE_SECURE=False # Set to True in production when using HTTPS
DJANGO_ENVIRONMENT=development # Options: development, production

# Database Configuration
# Local Development Database
DATABASE_URL=postgres://username:password@localhost:5432/dbname # In development, by default using postgres:1234/postgres
# Production Database (DigitalOcean)
# DATABASE_URL=postgresql://username:password@host:port/dbname

# Allowed Hosts and CSRF Settings
DIGITAL_OCEAN_EXTERNAL_HOSTNAME=http://your-domain.com,http://your-ip-address
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://your-domain.com

# Email Configuration
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=your-email@example.com

# Stripe Configuration
# Live Mode Keys
STRIPE_LIVE_PUBLIC_KEY=pk_live_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_LIVE_SECRET_KEY=sk_live_xxxxxxxxxxxxxxxxxxxxxxxx
# Test Mode Keys
STRIPE_TEST_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_TEST_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxx
DJSTRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx

# Google OAuth2 Configuration
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=your-google-client-id.apps.googleusercontent.com
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=your-google-client-secret

# OpenAI Configuration
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# QuickBooks Configuration
QUICKBOOKS_CLIENT_ID=your-quickbooks-client-id
QUICKBOOKS_CLIENT_SECRET=your-quickbooks-client-secret
QUICKBOOKS_REDIRECT_CALLBACK_URL=https://your-domain.com/quickbooks/callback # This is where QBO will redirect once the connection is successful. i.e. invoice-list-page
QUICKBOOKS_ENVIRONMENT=sandbox # Options: sandbox, production
QUICKBOOKS_WEBHOOK_VERIFICATION_TOKEN=your-webhook-verification-token # Use this to verify if incoming webhook request is actually coming from quickbooks.

# Cache
REDIS_URL="redis://host:port/db" # host with docker will be valkey, default port is 6379, db => 0
CELERY_BROKER_URL="redis://host:port/db" db => 1 (can't be the same as REDIS_URL) if host & port are same
