{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
<div class="p-lg-5 p-4 text-center">
    <div class="avatar-lg mx-auto mb-3">
        <div class="avatar-title rounded-circle bg-soft-success text-success fs-1">
            <i class="ri-checkbox-circle-fill"></i>
        </div>
    </div>
    <h4 class="mb-2">{% trans "Password Changed" %}</h4>
    <p class="text-muted mx-auto mb-4" style="max-width: 28rem;">{% trans 'Your password is updated and your account is ready to use.' %}</p>
    <a href="{% url 'account_login' %}" class="btn btn-primary w-100">Back to Sign In</a>
</div>
{% endblock content %}
