{% extends "partials/base.html" %}
{% load static %}
{% block title %}Update Lead{% endblock title %}
{% block extra_css %}
    <!-- Plugins css -->
    <link href="{% static 'libs/dropzone/dist/dropzone.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Leads" title="Update Lead" %}
                        {% endblock pagetitle %}

                        <div class="row">
                            <div class="col-lg-8">
                                <form action="{% url 'apps:leads.update' lead.pk%}" method="POST" 
                                    enctype="multipart/form-data" class="dropzone" id="editLeadDropzone">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    {{ form.as_p }}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row g-3">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <div class="position-relative d-inline-block">
                                                            <div class="position-absolute bottom-0 end-0">
                                                                <label for="lead-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                                                    <div class="avatar-xs cursor-pointer">
                                                                        <div class="avatar-title bg-light border rounded-circle text-muted">
                                                                            <i class="ri-image-fill"></i>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                                <input class="form-control d-none" name="logo" value="" id="lead-image-input" type="file" accept="image/png, image/gif, image/jpeg">
                                                            </div>
                                                            <div class="avatar-lg p-1">
                                                                <div class="avatar-title bg-light rounded-circle">
                                                                    <img {% if lead.logo %}
                                                                            src="{{lead.logo.get_photo_url}}"
                                                                        {% else %}
                                                                            src="{% static 'images/users/user-dummy-img.jpg' %}"
                                                                        {% endif %} name="logo" id="lead-img" class="avatar-md rounded-circle object-cover" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h5 class="fs-13 mt-3">Lead Image</h5>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div>
                                                        <label for="company_name-field" class="form-label">Lead Name</label>
                                                        <input type="text" name="name" class="form-control" placeholder="Enter company name" required value="{{lead.name}}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div>
                                                        <label for="location-field" class="form-label">Address</label>
                                                        <input type="text" name="address_1" class="form-control" placeholder="Enter location" required value="{{lead.address_1}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="location-field" class="form-label">Address 2</label>
                                                        <input type="text" name="address_2" class="form-control" placeholder="Enter location" required value="{{lead.address_2|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="zip-field" class="form-label">Zip Code</label>
                                                        <input type="text" pattern="\d{5}" maxlength="5" name="zip" class="form-control" placeholder="Enter Zip Code" required value="{{lead.zip|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="location-field" class="form-label">City</label>
                                                        <input type="text" name="city" class="form-control" placeholder="Enter location" required value="{{lead.city|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="location-field" class="form-label">State</label>
                                                        <input type="text" name="state" class="form-control" placeholder="Enter location" required value="{{lead.state|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="zip-field" class="form-label">Country</label>
                                                        <select class="form-select" id="industry_type-field" name="country" placeholder="Select Country" required >
                                                            {% if lead.country == 'United States' %}
                                                            <option selected value="United States">United Sates</option>
                                                            <option value="Canada">Canada</option>
                                                            {% else %}
                                                            <option value="United States">United Sates</option>
                                                            <option selected value="Canada">Canada</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="location-field" class="form-label">Time Zone</label>
                                                        <input type="text" name="timezone" class="form-control" placeholder="MTC" required value="{{lead.timezone|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="leads_score-field" class="form-label">Leads Score</label>
                                                        <input type="text" name="score" class="form-control" placeholder="Enter Value" requiredn value="{{lead.score|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="phone-field" class="form-label">Website</label>
                                                        <input type="text" name="website" class="form-control" placeholder="www.company.com" required value="{{lead.website|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="leads_score-field" class="form-label">Phone Number</label>
                                                        <input type="text" name="phone" class="form-control" placeholder="Enter Phone Number" required value="{{lead.phone|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="phone-field" class="form-label">Fax</label>
                                                        <input type="text" name="fax" class="form-control" placeholder="Enter Fax Number" value="{{lead.fax|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="leads_score-field" class="form-label">Contact First Name</label>
                                                        <input type="text" name="contact_first" class="form-control" placeholder="First Name" required value="{{lead.contact_first|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="phone-field" class="form-label">Contact Last Name</label>
                                                        <input type="text" name="contact_last" class="form-control" placeholder="Last Name" value="{{lead.contact_last|default_if_none:""}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="date-field" class="form-label">Contact Email</label>
                                                        <input type="email" name="email" class="form-control" placeholder="Contact's Email" required value="{{lead.email}}" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label for="date-field" class="form-label">Created Date</label>
                                                        <input type="date" name="date_added" class="form-control" data-provider="flatpickr" data-date-format="Y-m-d" placeholder="Select Date" required value="{{lead.date_added|date:"Y-m-d"}}"/>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div>
                                                        <label for="industry_type-field" class="form-label">Industry Type</label>
                                                        <select class="form-select" id="industry_type-field" name="industry">
                                                            <option {% if lead.industry == "" %}selected{% endif %} value="">Select industry type</option>
                                                            <option {% if lead.industry == "Agriculture"  %}selected{% endif %} value="Agriculture">Agriculture</option>
                                                            <option {% if lead.industry == "Construction"  %}selected{% endif %} value="Construction">Construction</option>
                                                            <option {% if lead.industry == "Education"  %}selected{% endif %} value="Education">Education</option>
                                                            <option {% if lead.industry == "Entertainment"  %}selected{% endif %} value="Entertainment">Entertainment</option>
                                                            <option {% if lead.industry == "Finance"  %}selected{% endif %} value="Finance & Insurance">Finance & Insurance</option>
                                                            <option {% if lead.industry == "Healthcare"  %}selected{% endif %} value="Healthcare">Healthcare</option>
                                                            <option {% if lead.industry == "Higher"  %}selected{% endif %} value="Higher Education">Higher Education</option>
                                                            <option {% if lead.industry == "Hospitality"  %}selected{% endif %} value="Hospitality">Hospitality</option>
                                                            <option {% if lead.industry == "Information"  %}selected{% endif %} value="Information Technology">Information Technology</option>
                                                            <option {% if lead.industry == "Manufacturing"  %}selected{% endif %} value="Manufacturing">Manufacturing</option>
                                                            <option {% if lead.industry == "Nonprofit"  %}selected{% endif %} value="Nonprofit">Nonprofit</option>
                                                            <option {% if lead.industry == "Professional"  %}selected{% endif %} value="Professional Services">Professional Services</option>
                                                            <option {% if lead.industry == "Real"  %}selected{% endif %} value="Real Estate">Real Estate</option>
                                                            <option {% if lead.industry == "Retail"  %}selected{% endif %} value="Retail">Retail</option>
                                                            <option {% if lead.industry == "Telecommunications"  %}selected{% endif %} value="Telecommunications">Telecommunications</option>
                                                            <option {% if lead.industry == "Transportation"  %}selected{% endif %} value="Transportation">Transportation</option>
                                                            <option {% if lead.industry == "Utilities"  %}selected{% endif %} value="Utilities">Utilities</option>
                                                            <option {% if lead.industry == "Wholesale"  %}selected{% endif %} value="Wholesale">Wholesale</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Attached files</h5>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <p class="text-muted">Add Attached files here.</p>

                                            <div class="dropzone">
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple="multiple">
                                                </div>
                                                <div class="dz-message needsclick">
                                                    <div class="mb-3">
                                                        <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                                    </div>
    
                                                    <h5>Drop files here or click to upload.</h5>
                                                </div>
                                            </div>
    
                                            <ul class="list-unstyled mb-0" id="dropzone-preview">
                                                <li class="mt-2" id="dropzone-preview-list">
                                                    <!-- This is used as the file preview template -->
                                                    <div class="border rounded">
                                                        <div class="d-flex p-2">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-sm bg-light rounded">
                                                                    <img src="#" alt="Project-Image" data-dz-thumbnail class="img-fluid rounded d-block" />
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <div class="pt-1">
                                                                    <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                                    <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                                                </div>
                                                            </div>
                                                            <div class="flex-shrink-0 ms-3">
                                                                <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- end dropzon-preview -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end card -->
                                <div class="text-end mb-4">
                                    <button type="button" class="btn btn-light w-xs" onclick="location.href = '{% url 'apps:projects.list' %}';">Cancel</button>
                                    <button type="submit" class="btn btn-info w-sm" id="add-btn">Update</button>
                                </div>
                            </div>
                            </form>
                            <!-- end col -->
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Client Overview</h5>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <label for="choices-privacy-status-input" class="form-label">Client Name</label>
                                            <div class="confirmation" >    
                                                <input class="form-control" type="text" id="confirmTitle" value="{{projects.client.name}}" readonly> 
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label for="choices-privacy-status-input" class="form-label">Main Contact</label>
                                            <div class="confirmation" >    
                                                <input class="form-control" type="text" id="confirmTitle" value="Name: {{projects.client.contact_first}} {{projects.client.contact_last}}" readonly> 
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label for="choices-privacy-status-input" class="form-label">Contact Information</label>
                                            <div class="confirmation" >    
                                                <input class="form-control" type="text" id="confirmTitle" value="{{projects.client.phone}}" readonly> 
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <label for="choices-privacy-status-input" class="form-label">Client Website</label>
                                            <div class="confirmation" >    
                                                <input class="form-control" type="text" id="confirmTitle" value="{{projects.client.website}}" readonly> 
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->

                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
                
            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}

{% block extra_content %}
    <!-- Modal -->
    <div class="modal fade" id="inviteMembersModal" tabindex="-1" aria-labelledby="inviteMembersModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-3 ps-4 bg-soft-success">
                    <h5 class="modal-title" id="inviteMembersModalLabel">Members</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <div class="search-box mb-3">
                        <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                        <i class="ri-search-line search-icon"></i>
                    </div>

                    <div class="mb-4 d-flex align-items-center">
                        <div class="me-2">
                            <h5 class="mb-0 fs-13">Members :</h5>
                        </div>
                        <div class="avatar-group justify-content-center">
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Brent Gonzalez">
                                <div class="avatar-xs">
                                    <img src="{% static 'images/users/avatar-3.jpg'%}" alt="" class="rounded-circle img-fluid">
                                </div>
                            </a>
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Sylvia Wright">
                                <div class="avatar-xs">
                                    <div class="avatar-title rounded-circle bg-secondary">
                                        S
                                    </div>
                                </div>
                            </a>
                            <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Ellen Smith">
                                <div class="avatar-xs">
                                    <img src="{% static 'images/users/avatar-4.jpg'%}" alt="" class="rounded-circle img-fluid">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="mx-n4 px-4" data-simplebar style="max-height: 225px;">
                        <div class="vstack gap-3">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="{% static 'images/users/avatar-2.jpg'%}" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">Nancy Martino</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <div class="avatar-title bg-soft-danger text-danger rounded-circle">
                                        HB
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">Henry Baird</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="{% static 'images/users/avatar-3.jpg'%}" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">Frank Hook</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="{% static 'images/users/avatar-4.jpg'%}" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">Jennifer Carter</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <div class="avatar-title bg-soft-success text-success rounded-circle">
                                        AC
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">Alexis Clarke</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs flex-shrink-0 me-3">
                                    <img src="{% static 'images/users/avatar-7.jpg'%}" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="flex-grow-1">
                                    <h5 class="fs-13 mb-0"><a href="#" class="text-body d-block">Joseph Parker</a></h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button type="button" class="btn btn-light btn-sm">Add</button>
                                </div>
                            </div>
                            <!-- end member item -->
                        </div>
                        <!-- end list -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light w-xs" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success w-xs">Invite</button>
                </div>
            </div>
            <!-- end modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- end modal -->
{% endblock extra_content %}
{% block extra_js %}
    <script>
        let leadListURL = "{% url 'apps:leads' %}";
        let leadUpdateURL = "{% url 'apps:leads.update' lead.pk %}";
    </script>

<!-- ckeditor -->
    <script src="{% static 'libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js'%}"></script>
    <!-- dropzone js -->
    <script src="{% static 'libs/dropzone/dist/dropzone-min.js'%}"></script>
    <!-- project-create init -->
    <script src="{% static 'js/pages/lead-update.init.js'%}"></script>
{% endblock extra_js %}
