/*
Project Rocket - Admin & Dashboard Template
Author: John Lang
Version: 2.0.0
Website: https://projectrocket-psa.com/
Contact: projectRocket@gmail.com
File: Main Js File
*/

// Icons Scss
@import "plugins/icons/materialdesignicons";
@import "plugins/icons/boxicons";
@import "plugins/icons/line-awesome";
@import "plugins/icons/remixicon";